import dotenv from 'dotenv';
dotenv.config();

import { DummyDexHelper } from '../../dex-helper/index';
import { Network, SwapSide } from '../../constants';
import { __DexName__ } from './__DexNameParam__';
import { checkPoolPrices, checkPoolsLiquidity } from '../../../tests/utils';
import { Tokens } from '../../../tests/constants-e2e';

/*
  README
  ======

  This test script adds tests for __DexName__ general integration 
  with the DEX interface. The test cases below are example tests. 
  It is recommended to add tests which cover __DexName__ specific
  logic. 

  You can run this individual test script by running:
  `npx jest src/dex/<dex-name>/<dex-name>-integration.tests.ts`

  (This comment should be removed from the final implementation)
*/

const TokenASymbol = 'TokenASymbol';
const TokenA = Tokens[TokenASymbol];

const TokenBSymbol = 'TokenBSymbol';
const TokenB = Tokens[TokenBSymbol];

const amounts = [
  BigInt('0'),
  BigInt('1000000000000000000'),
  BigInt('2000000000000000000'),
];

const dexKey = '__DexName__';

describe('__DexName__', function () {
  it('getPoolIdentifiers and getPricesVolume', async function () {
    const dexHelper = new DummyDexHelper(Network.MAINNET);
    const blocknumber = await dexHelper.provider.getBlockNumber();
    const __DexNameCamel__ = new __DexName__(Network.MAINNET, dexKey, dexHelper);

    await __DexNameCamel__.setupEventPools(blocknumber);

    const pools = await __DexNameCamel__.getPoolIdentifiers(
      TokenA,
      TokenB,
      SwapSide.SELL,
      blocknumber,
    );
    console.log(`${TokenASymbol} <> ${TokenBSymbol} Pool Ideintifiers: `, pools);

    expect(pools.length).toBeGreaterThan(0);

    const poolPrices = await __DexNameCamel__.getPricesVolume(
      WETH,
      DAI,
      amounts,
      SwapSide.SELL,
      blocknumber,
      pools,
    );
    console.log('${TokenASymbol} <> ${TokenBSymbol} Pool Prices: ', poolPrices);

    expect(poolPrices).not.toBeNull();
    checkPoolPrices(poolPrices!, amounts, SwapSide.SELL, dexKey);
  });

  it('getTopPoolsForToken', async function () {
    const dexHelper = new DummyDexHelper(Network.MAINNET);
    const __DexNameCamel__ = new __DexName__(Network.MAINNET, dexKey, dexHelper);

    const poolLiquidity = await __DexNameCamel__.getTopPoolsForToken(
      TokenA.address,
      10,
    );
    console.log(`${TokenASymbol} Top Pools:`, poolLiquidity);

    checkPoolsLiquidity(poolLiquidity, TokenA.address, dexKey);
  });
});
