import { DexParams } from './types';
import { DexConfigMap } from '../../types';
import { Network } from '../../constants';

export const __DexName__Config: DexConfigMap<DexParams> = {
  __DexName__: {
    // TODO: complete me!
  }
};
