import { DexParams } from './types';
import { DexConfigMap } from '../../types';
import { Network, SwapSide } from '../../constants';

export const __DexName__Config: DexConfigMap<DexParams> = {
  __DexName__: {
    // TODO: complete me!
  }
};

export const Adapters: {
  [chainId: number]: { [side: string]: { name: string; index: number }[] | null };
} = {
  // TODO: add adapters for each chain
};
